/* CSS Document */
.formula04-site-lock-content{
	text-align:center;
}
.formula04-site-lock-content .locked_message{
	font-size:2.4em;	
}
.formula04_d_block{
	display:block;
	margin: auto;
	margin:10px auto;
}
.formula04-site-lock-content .formula04_site_lock_submit {
	font-size:2em;
}